<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') -%>
  </head>
  <body>
    <%- include('../partials/header') -%>
    <div class="container">
      <h1>
        <span>Staff</span>
        <button class="btn btn-outline-success">New</button>
      </h1>
      <div class="d-flex align-items-center"></div>
      <table class="table table-bordered">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Phone</th>
          <th>Action</th>
        </tr>
        <tr>
          <td scope="row">1</td>
          <td>JACK</td>
          <td>081145236</td>
          <td>
            <button type="button" class="btn btn-ouline-primary">View</button>
          </td>
        </tr>
        <tr>
          <td scope="row">2</td>
          <td>KIM</td>
          <td>0846213333</td>
          <td>
            <button type="button" class="btn btn-ouline-primary">View</button>
          </td>
        </tr>
      </table>
    </div>
    <%- include('../partials/footer') -%>
  </body>
</html>
